<article class="doc">
  {{>nav-toggle}}
<!--  {{{page.contents}}}-->
  <div class="category-landing-content">
    <div class="category-landing-section">
      <div class="category-landing-article">
        <h2 class="category-landing-title">Hazelcast Platform</h2>
        <p class="category-landing-text">
          Hazelcast is a distributed computation and storage platform for consistently low-latency querying,
          aggregation and stateful computation against event streams and traditional data sources.
          Hazelcast Platform uniquely combines a distributed compute engine and a fast data store in one runtime.
          It offers unmatched performance, resilience and scale for real-time and AI-driven applications.
          It allows you to quickly build resource-efficient, real-time applications.
          You can deploy it at any scale from small edge devices to a large cluster of cloud
          instances. <a href="#">Get started</a> now, or find the information you need below.
        </p>
      </div>
      <img class="category-landing-image category-landing-description-image" src="{{{uiRootPath}}}/img/category-landing/real-time-sync.png" alt="real-time" />
    </div>
  </div>
</article>
