<div class="home">
  <div class="home-background">
    <h1>{{{page.title}}}</h1>
    <!-- Remove search bar on home page
    until we have search integrated for other docs
    <div class="search-container">
      <input id="search-input" type="text" placeholder="">
    </div>-->
  </div>
<main data-ceiling="topbar">
<article class="article">
{{{page.contents}}}
</article>
</main>
</div>