<div class='cookie-banner' id='cookie'>
<p>
    This website uses cookies to give you the best experience.
    <a href=’https://hazelcast.com/privacy/’>Learn more</a>
  </p>
<button class='close' id='cookie-close'>Close</button>
</div>