<div class="cookie-banner" id="cookie">
  <p>
    This website uses cookies to ensure you get the best experience on our website.
    <!--    <a href="https://hazelcast.com/privacy/?utm_source=docs-website">Learn more</a>-->
  </p>
<!--  <button class="cookie-decision-btn">-->
<!--    Decline-->
<!--  </button>-->
<!--  <button class="cookie-decision-btn">-->
<!--    Allow All-->
<!--  </button>-->
  <button class="cookie-close" id="cookie-close">&times;</button>
</div>
