<div class="cookie-banner" id="cookie">
  <p>
    This website uses cookies to ensure you get the best experience on our website.
    <!--    <a href="https://hazelcast.com/privacy/?utm_source=docs-website">Learn more</a>-->
  </p>
  <div class="cookie-banner-btns-wrapper">
    <a id="manageCookiesLink" href="javascript:void(0)" role="button" class="manage-cookies-link">
      Manage Cookies
    </a>
    <button class="cookie-decision-btn decline-btn">
      Decline
    </button>
    <button class="cookie-decision-btn allow-btn">
      Allow
    </button>
    <button class="cookie-close" id="closeCookies">&times;</button>
  </div>
</div>
