<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<!-- Before the closing </body> -->
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
{{#if (not-eq page.component.name 'home')}}
<script>
  docsearch({
    // Your apiKey and indexName will be given to you once
    // we create your config
    apiKey: '11e84402b279a5748fa7bb3a10c4eaff',
    indexName: 'dev_DOCS',
    appId: '3L6KPQWLIB', // Should be only included if you are running DocSearch on your own.
    // Replace inputSelector with a CSS selector
    // matching your search input
    inputSelector: '#search-input',
    // Set debug to true to inspect the dropdown
    debug: false,
  });
</script>
{{/if}}
{{#contains 'Page Not Found' page.title}}
<!-- Move the search results dropdown above the search box -->
<script>
  //document.addEventListener("load", restyleDropdown);
  var algoliaBox = document.getElementsByClassName('algolia-autocomplete')[0]
  //var searchIcon = document.getElementById('search-icon-404')
  //var searchBox =  document.getElementById('search-input')
  var dropdown = document.getElementById('algolia-autocomplete-listbox-0')

  algoliaBox.insertBefore(dropdown, algoliaBox.childNodes[0])
  //algoliaBox.insertBefore(searchIcon, searchBox)

  /* function restyleDropdown() {
    var dropdown = document.getElementById('algolia-autocomplete-listbox-0')
    dropdown.style.removeProperty('top')
    dropdown.style.removeProperty('right')
    dropdown.style.removeProperty('left')
  } */
</script>
{{/contains}}
