<footer class="footer">
  <a href="https://hazelcast.com/terms-of-use/">Terms of service</a>
  <a href="https://hazelcast.com/privacy/">Privacy</a>
  <a href="https://hazelcast.com/contact/">Contact us</a>
</footer>
