<header class="header">
  <nav class="navbar navbar-brand">
    <div class="navbar-start">
      <a class="navbar-item navbar-logo-item" href="https://hazelcast.com/?utm_source=docs-website&utm_term=home-logo">
        <img class="navbar-logo-item-img" src="https://hazelcast.com/wp-content/themes/hazelcast/assets/img/hazelcast-logo.svg" alt="Hazelcast Logo" />
      </a>
    </div>

    <div id="desktop-holder" class="top-bar">
      <ul class="mega-menu">
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/products/?utm_source=docs-website&utm_term=platform">Platform</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com//use-cases/?utm_source=docs-website&utm_term=solutions">Solutions</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/resource-center/?utm_source=docs-website&utm_term=resources">Resources</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/developers/?utm_source=docs-website&utm_term=developers">Developers</a></li>
        <li class="mega-menu-item mega-menu-item-docs active"><a class="mega-menu-link" href="https://docs.hazelcast.com/?utm_source=docs-website&utm_term=docs">Docs</a></li>
      </ul>
    </div>

    <div class="navbar-end">
      <section class="color-theme-switcher">
        <button id="lightModeOnBtn" class="color-theme-btn light-mode-on-btn" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2"></path>
            <path d="M12 20v2"></path>
            <path d="m4.93 4.93 1.41 1.41"></path>
            <path d="m17.66 17.66 1.41 1.41"></path>
            <path d="M2 12h2"></path>
            <path d="M20 12h2"></path>
            <path d="m6.34 17.66-1.41 1.41"></path>
            <path d="m19.07 4.93-1.41 1.41"></path>
          </svg>
        </button>
        <button id="darkModeOnBtn" class="color-theme-btn dark-mode-on-btn" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path
              d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"></path>
          </svg>
        </button>
      </section>

      {{#if (and (not-eq page.layout 'home') (not-eq page.layout 'tutorials-landing') (not-eq page.layout 'privacy') (not-eq page.component.name 'imdg'))}}
        <div id="search-input" class="navbar-item searchbox"></div>
      {{/if}}

      {{#if site.keys.aiSearchId}}
        {{#if (and (not-eq page.layout 'home') (not-eq page.layout 'tutorials-landing') (not-eq page.layout 'privacy') (not-eq page.component.name 'imdg'))}}
          <a class="navbar-item" href="#">
            <button class="button small header-button ask-ai-button" id="askAIHeaderBtn">
              <img class="header-button-icon" src="{{{uiRootPath}}}/img/kapa/ask-ai-icon.svg" alt="ask ai" />
              Ask AI
            </button>
          </a>
        {{/if}}
      {{/if}}

      {{#if (eq page.component.name 'cloud')}}
        <a class="navbar-item" href="{{{page.attributes.cloud-console}}}sign-up" target="_blank">
          <button class="button small header-button try-product-button">Try Free</button>
        </a>
      {{else}}
      <a class="navbar-item" href="https://hazelcast.com/get-started/?utm_source=docs-website&utm_term=get-started" target="_blank">
          <button class="button small header-button try-product-button">Try Hazelcast</button>
        </a>
        <!-- Hamburger menu trigger (just one!) -->
        <div class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
      {{/if}}
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div id="menu-holder" class="mobile-menu">
    <div class="mobile-menu-header">
      <a href="https://hazelcast.com/?utm_source=docs-website&utm_term=home-logo" class="mobile-menu-logo">
          <img class="navbar-logo-item-img"src="https://hazelcast.com/wp-content/themes/hazelcast/assets/img/hazelcast-logo.svg" alt="Hazelcast Logo" />
      </a>
      <button class="menu-close" id="menu-close" aria-label="Close menu">&times;</button>
    </div>
    <ul class="mega-menu">
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/products/?utm_source=docs-website&utm_term=platform">Platform</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/use-cases/?utm_source=docs-website&utm_term=solutions">Solutions</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/resource-center/?utm_source=docs-website&utm_term=resources">Resources</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/developers/?utm_source=docs-website&utm_term=developers">Developers</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link docs-highlight" href="https://docs.hazelcast.com/?utm_source=docs-website&utm_term=docs">Docs</a></li>
    </ul>
  </div>
</header>
