<header class="header">
  <nav class="navbar navbar-brand">
    <div class="navbar-start">
      <a class="navbar-item navbar-logo-item" href="https://hazelcast.com/?utm_source=docs-website&utm_term=home-logo">
        <img class="navbar-logo-item-img" src="https://hazelcast.com/wp-content/themes/hazelcast/assets/img/hazelcast-logo.svg" alt="Hazelcast Logo" />
      </a>
    </div>

    <div id="desktop-holder" class="top-bar">
      <ul class="mega-menu">
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/products/?utm_source=docs-website&utm_term=platform">Platform</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com//use-cases/?utm_source=docs-website&utm_term=solutions">Solutions</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/resource-center/?utm_source=docs-website&utm_term=resources">Resources</a></li>
        <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/developers/?utm_source=docs-website&utm_term=developers">Developers</a></li>
        <li class="mega-menu-item mega-menu-item-docs active"><a class="mega-menu-link" href="https://docs.hazelcast.com/?utm_source=docs-website&utm_term=docs">Docs</a></li>
      </ul>
    </div>

    <div class="navbar-end">
      {{#if (and (not-eq page.layout 'home') (not-eq page.layout 'tutorials-landing') (not-eq page.layout 'privacy') (not-eq page.component.name 'imdg'))}}
        <div id="search-input" class="navbar-item searchbox"></div>
      {{/if}}

      {{#if (eq page.component.name 'cloud')}}
        <a class="navbar-item" href="{{{page.attributes.cloud-console}}}sign-up" target="_blank">
          <button class="button small custom-4">Try Free</button>
        </a>
      {{else}}
      <a class="navbar-item" href="https://hazelcast.com/get-started/?utm_source=docs-website&utm_term=get-started" target="_blank">
          <button class="button small custom-4">Try Hazelcast</button>
        </a>
        <!-- Hamburger menu trigger (just one!) -->
        <div class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
      {{/if}}
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div id="menu-holder" class="mobile-menu">
    <div class="mobile-menu-header">
      <a href="https://hazelcast.com/?utm_source=docs-website&utm_term=home-logo" class="mobile-menu-logo">
          <img class="navbar-logo-item-img"src="https://hazelcast.com/wp-content/themes/hazelcast/assets/img/hazelcast-logo.svg" alt="Hazelcast Logo" />
      </a>
      <button class="menu-close" id="menu-close" aria-label="Close menu">&times;</button>
    </div>
    <ul class="mega-menu">
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/products/?utm_source=docs-website&utm_term=platform">Platform</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/use-cases/?utm_source=docs-website&utm_term=solutions">Solutions</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/resource-center/?utm_source=docs-website&utm_term=resources">Resources</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link" href="https://hazelcast.com/developers/?utm_source=docs-website&utm_term=developers">Developers</a></li>
      <li class="mega-menu-item"><a class="mega-menu-link docs-highlight" href="https://docs.hazelcast.com/?utm_source=docs-website&utm_term=docs">Docs</a></li>
    </ul>
  </div>
</header>
