<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://hazelcast.org/"><img src="{{{uiRootPath}}}/img/hazelcast-logo.svg"></img></a>
      <a class="navbar-item" id="documentation-header" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</img></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" onclick="return false">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://hazelcast.com/products/cloud/" onclick="window.open(this.href,'_blank');return false;">Hazelcast Cloud</a>
            <a class="navbar-item" href="https://hazelcast.com/products/imdg/" onclick="window.open(this.href,'_blank');return false;">Hazelcast IMDG</a>
            <a class="navbar-item" href="https://hazelcast.com/products/jet/" onclick="window.open(this.href,'_blank');return false;">Hazelcast Jet</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" onclick="return false">Learn</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{siteRootPath}}}/home/index.html">Docs</a>
            <a class="navbar-item" href="https://training.hazelcast.com/" onclick="window.open(this.href,'_blank');return false;">Online Training</a>
            <a class="navbar-item" href="https://hazelcast.com/resources/mastering-hazelcast/" onclick="window.open(this.href,'_blank');return false;"> Mastering Hazelcast eBook</a>
            <a class="navbar-item" href="https://hazelcast.com/resources/" onclick="window.open(this.href,'_blank');return false;">Search All Resources</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" onclick="return false">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://hazelcast.com/hub/" onclick="window.open(this.href,'_blank');return false;">Integration Hub</a>
            <a class="navbar-item" href="https://hazelcast.com/use-cases/" onclick="window.open(this.href,'_blank');return false;">Use Cases</a>
            <a class="navbar-item" href="https://hazelcast.com/community/" onclick="window.open(this.href,'_blank');return false;">Community</a>
            <a class="navbar-item" href="https://hazelcast.com/blog/" onclick="window.open(this.href,'_blank');return false;">Blog</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" onclick="return false">API Reference</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.hazelcast.org/docs/5.0-SNAPSHOT/javadoc" onclick="window.open(this.href,'_blank');return false;">Java</a>
            <a class="navbar-item" href="https://pkg.go.dev/github.com/hazelcast/hazelcast-go-client" onclick="window.open(this.href,'_blank');return false;">Go</a>
            <a class="navbar-item" href="http://hazelcast.github.io/hazelcast-csharp-client/4.0.1/api/index.html" onclick="window.open(this.href,'_blank');return false;">C#</a>
            <a class="navbar-item" href="http://hazelcast.github.io/hazelcast-cpp-client/api-index.html" onclick="window.open(this.href,'_blank');return false;">C++</a>
            <a class="navbar-item" href="http://hazelcast.github.io/hazelcast-nodejs-client/api/4.1.0/docs" onclick="window.open(this.href,'_blank');return false;">Python</a>
            <a class="navbar-item" href="https://hazelcast.readthedocs.io/en/v4.1" onclick="window.open(this.href,'_blank');return false;">Node.js</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        {{#if (not-eq page.component.name 'home')}}
        {{#if (not-eq page.layout '404')}}
        <div class="navbar-item searchbox">
            <a id="search-open" ><i class="fa fa-search" aria-hidden="true"></i></a>
            <input id="search-input" type="text" placeholder="Search docs">
            <label class="filter checkbox">
              <input id="facet" type="checkbox" onclick="applyFacetedSearch()"> All products
            </label>
        </div>
        {{/if}}
        {{/if}}
        <div class="navbar-item">
          <button class="button" href="https://hazelcast.com" onclick="window.open(this.href,'_blank');return false;">Get Hazelcast</button>
        </div>
      </div>
    </div>
  </nav>
  {{> cookie}}
</header>
