<header class="header">
  <nav class="navbar navbar-brand">
    <div class="navbar-start">
      <a class="navbar-item navbar-logo-item" href="/">
        <img class="navbar-logo-item-img" src="{{{uiRootPath}}}/img/hazelcast-logo-white.png" alt="Hazelcast Logo" />
      </a>
      <p class="navbar-item navbar-app-title">
        Documentation
      </p>
    </div>

    <div class="navbar-end">
      {{#if (and (not-eq page.layout 'home') (not-eq page.layout 'tutorials-landing'))}}
        <div id="search-input" class="navbar-item searchbox"></div>
        {{#if (not-eq page.layout '404')}}
          <label class="filter checkbox">
            <input id="facet" type="checkbox" onclick="applyFacetedSearch()"> Search all docs
          </label>
        {{/if}}
      {{/if}}
      {{#if (or (eq page.component.name 'cloud') (eq page.component.name 'tutorials'))}}
        <a class="navbar-item" href="{{{page.attributes.cloud-console}}}sign-up" target="_blank">
          <button class="button navbar-button">Try Free</button>
        </a>
      {{else}}
        <a class="navbar-item get-hazelcast-link" href="https://hazelcast.com/get-started/" target="_blank">
          <button class="button navbar-button">Get Hazelcast</button>
        </a>
      {{/if}}
    </div>
  </nav>
  {{> cookie}}
</header>
