<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    {{#if (eq page.component.name 'turbine')}}
      {{> turbine-nav-explore}}
    {{else}}
      {{> nav-explore}}
    {{/if}}
    <div class="panels">
{{> nav-menu}}
    </div>
  </aside>
</div>
<div id="hide-nav">
  <button>
    <span>
      ᐸ
    </span>
  </button>
</div>
