<aside class="toc sidebar" data-title="{{or page.attributes.toctitle 'Contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  {{#if (eq page.layout 'tutorial')}}
    <div class="source">
      <a style="line-height: 1.6;" href="../tutorials"><img class="left-arrow" src="{{{siteRootPath}}}/home/_images/right-arrow.svg">Browse tutorials</a>
    </div>
  {{/if}}
  <div class="toc-menu">
  </div>
  {{> feedback}}
</aside>
