<div class="helpful-feedback">
  <span class="helpful-feedback-title">Was this helpful?</span>
  <div class="helpful-feedback-buttons">
    <label for="yes" class="feedback-button yes-button">
      <img src="{{{uiRootPath}}}/img/thumbs-up.svg" alt="like" class="like-img" />
      <input type="radio" id="yes" name="helpful" value="yes" onclick="submitForm()">
    </label>
    <label for="no" class="feedback-button no-button">
      <img src="{{{uiRootPath}}}/img/thumbs-down.svg" alt="like" class="like-img" />
      <input type="radio" id="no" name="helpful" value="no" onclick="submitForm()">
    </label>
  </div>
</div>
