.paragraph.help > h2 > img {
  width: 30px;
  vertical-align: top;
  margin-right: 10px;
}

.paragraph.help > h2:not(.discrete) {
  border: none;
}

.paragraph.find {
  display: flex;
  flex: 1 100%;
  z-index: -1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.find-item {
  position: relative;
  flex: 1 100%;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 5%;
  border-radius: var(--border-radius);
}

input[type='text'] {
  width: 200px;
  height: 40px;
  font-size: inherit;
}

.find-item:first-child > ul {
  margin-top: 20px;
}

@media (width >= 820px) {
  .paragraph.find {
    flex: 1 50%;
  }

  .find-item:first-child > ul {
    columns: 2;
  }

  .find-item {
    flex: 1 50%;
  }
}
