.category-landing-content {
  padding-top: 1rem;
}

.category-landing-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.category-landing-description-section {
  border-bottom: 1px solid var(--section-divider-color);
}

.doc h2.category-landing-title {
  border: none;
  color: var(--accent);
  margin-bottom: 6px;
  font-weight: 600;
}

.category-landing-image {
  height: auto;
  align-self: center;
}

.category-landing-description-image {
  width: 40%;
  max-width: 400px;
}

.category-landing-list-image {
  width: 30%;
  max-width: 300px;
}

.doc p.category-landing-text {
  margin-bottom: 0.5rem;
}
