.cookie-banner {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--header-color);
  color: var(--neutral-white);
  font-size: 14px;
  border-top: 1px solid var(--header-color);
  z-index: 1000;
}

.cookie-banner p {
  margin: 0;
  font-family: var(--heading-font-family);
  letter-spacing: 0.4px;
}

.cookie-close {
  border-radius: 10px;
  background: transparent;
  font-size: 25px;
  border: none;
  color: var(--neutral-white);
}
