/* Style the Image Used to Trigger the Modal */
.doc .image,
.doc .content > img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 20px 20px 20px 20px;
}

/* Style images floated right */
.doc .image.right {
  padding-left: 20px;
}

/* Style images floated left */
.doc .image.left {
  padding-right: 20px;
}

.doc .content > img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.doc .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.doc .modal-image {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 2000px !important;
}

/* Add Animation - Zoom in the Modal */
.modal-image {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.doc .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.doc .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .doc .modal-image {
    width: 100%;
  }
}
