/* Feedback question and buttons */

#feedback-prompt {
  width: 100%;
}

#feedback-prompt button {
  display: inline-block;
  text-align: center;
  padding: 2px;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: calc(15 / var(--rem-base) * 1rem);
  color: var(--toc-heading-font-color);
}

.additional-feedback {
  display: block;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

.additional-feedback a {
  color: var(--primary-light);
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.edit-this-page {
  display: block;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
}

.edit-this-page a {
  color: var(--primary-light);
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.survey {
  background: transparent url(../img/survey.svg) center left no-repeat;
  padding-left: 1.75rem;
}

.git {
  background: transparent url(../img/github.svg) center left no-repeat;
  padding-left: 1.75rem;
}

.git-pull {
  background: transparent url(../img/pull.svg) center left no-repeat;
  padding-left: 1.75rem;
}
