/* Feedback question and buttons */

.feedback-prompt {
  width: 100%;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
  display: flex;
  flex-direction: column;
}

.feedback-prompt .hidden {
  display: none;
}

.feedback-prompt input[type="radio"] {
  display: none;
}

.yes-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-family: var(--heading-font-family);
  font-size: 1rem;
  background-color: var(--info-light);
  border-radius: 10px;
  cursor: pointer;
}

.yes-button:hover .like-img {
  transform: translateY(-3px);
}

.like-img {
  transition: transform 300ms;
  width: 41px;
  height: auto;
}

.additional-feedback {
  display: block;
  padding-right: 0.5rem;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
}

.additional-feedback a {
  color: var(--primary-light);
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.edit-this-page {
  display: block;
  padding-right: 0.5rem;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
}

.edit-this-page a {
  color: var(--primary-light);
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.survey {
  background: transparent url(../img/survey.svg) center left no-repeat;
  padding-left: 1.75rem;
}

.git {
  background: transparent url(../img/github.svg) center left no-repeat;
  padding-left: 1.75rem;
}

.git-pull {
  background: transparent url(../img/pull.svg) center left no-repeat;
  padding-left: 1.75rem;
}

form[name^=docs-feedback] {
  padding-top: 20px;
}
