/* Feedback question and buttons */

.feedback-prompt {
  width: 100%;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
  display: flex;
  flex-direction: column;
}

.feedback-prompt .hidden {
  display: none;
}

.helpful-feedback input[type="radio"] {
  display: none;
}

.feedback-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.8rem;
  font-family: var(--heading-font-family);
  font-size: 14px;
  background-color: var(--info-light);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.feedback-button:hover {
  background-color: var(--accent5-light);
}

a.feedback-button:hover {
  text-decoration: none;
}

.helpful-feedback {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.helpful-feedback-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.helpful-feedback-title {
  width: 100%;
  text-align: center;
}

.helpful-feedback .feedback-button {
  margin-top: 0;
}

.yes-button:hover .like-img {
  transform: translateY(-3px);
}

.no-button:hover .like-img {
  transform: translateY(3px);
}

.like-img {
  transition: transform 300ms ease-out;
  width: 20px;
  height: auto;
}

.additional-feedback {
  display: block;
  padding-right: 0.5rem;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
}

.additional-feedback a {
  color: var(--primary-light);
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.edit-this-page {
  display: block;
  padding-right: 0.5rem;
  font-family: var(--body-font-family);
  color: var(--nav-muted-color);
}

.edit-this-page a {
  color: var(--primary-light);
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.survey {
  background: transparent url(../img/survey.svg) center left / contain no-repeat;
  padding-left: 1.75rem;
}

.git {
  background: transparent url(../img/github.svg) center left / contain no-repeat;
  padding-left: 1.75rem;
}

.git-pull {
  background: transparent url(../img/edit.svg) center left / contain no-repeat;
  padding-left: 1.75rem;
}

.command {
  background: transparent url(../img/command.svg) center left / contain no-repeat;
  padding-left: 1.75rem;
}

.mail {
  background: transparent url(../img/mail.svg) center left / contain no-repeat;
  padding-left: 1.75rem;
}
