@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    local("Open Sans-Regular"),
    url(../font/open-sans-all-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src:
    local("Open Sans"),
    local("Open Sans-Italic"),
    url(../font/open-sans-all-400-italic.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 500;
  src:
    local("Open Sans"),
    local("Open Sans-Bold"),
    url(../font/open-sans-all-600-normal.woff) format("woff");
}
