@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src:
    local("Ubuntu"),
    local("Ubuntu-Regular"),
    url(~fontsource-ubuntu/files/ubuntu-all-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src:
    local("Ubuntu"),
    local("Ubuntu-Italic"),
    url(~fontsource-ubuntu/files/ubuntu-all-400-italic.woff) format("woff");
}
