.doc .exampleblock.guide-card {
  display: flex;
  flex-direction: column;
}

.doc .exampleblock.guide-card > .content {
  border: none;
}

.doc .exampleblock.guide-card > .content > :first-child {
  font-size: 1.2em;
}

.doc .exampleblock.guide-card > .content > :last-child > p > a {
  border: 1px solid blue;
  padding: 5px;
  border-radius: var(--border-radius);
}
