body {
  /* important so the Kapa widget does not overwrite it */
  padding-top: var(--navbar-height) !important;
}

.navbar .button.navbar-button {
  background-color: var(--header-color);
  border: 1px solid var(--neutral-white);
  color: var(--neutral-white);
  font-size: var(--body-font-size);
  font-weight: 700;
  letter-spacing: 1px;
}

.filter.checkbox {
  color: var(--neutral-white);
  font-size: 0.875em;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0;
}

.navbar {
  background: var(--header-color);
  color: var(--neutral-white);
  font-family: var(--nav-font-family);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
}

.navbar a {
  color: var(--neutral-white);
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-brand .navbar-item.navbar-logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo-item-img {
  width: 180px;
  height: auto;
}

.navbar-logo-item-title {
  margin: 0;
  color: var(--accent);
}

.get-hazelcast-link {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 0 10px;
}

.navbar-start,
.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-app-title {
  font-size: 20px;
  border-left: 1px solid var(--neutral-white);
}

.navbar-item {
  color: var(--neutral-white);
  display: block;
  padding: 0 20px;
}

@media (max-width: 930px) {
  .filter.checkbox {
    display: none;
  }
}

@media (max-width: 800px) {
  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }

  .navbar-item {
    padding: 0 10px;
  }
}

@media (max-width: 750px) {
  .navbar-app-title {
    display: none;
  }
}

@media (max-width: 550px) {
  .hazelcast-link {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar-logo-item-img {
    width: 110px;
  }
}
