.home {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: -1.5em;
}

.home .article {
  background-color: #f2f5f9;
  margin-top: -1.5em;
  text-align: left;
}

.home-background {
  top: 0;
  width: 100%;
  background: url('../img/banner-hz.svg') no-repeat center;
  background-color: #141414;
  border-bottom-right-radius: 50px;
}

.home h1 {
  color: #fafafa;
  padding-top: 90px;
  font-weight: 300;
}

.search-container {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
  font-size: 16px;
}

.row:nth-child(2) {
  background-color: #fafafa;
}

.row {
  flex-direction: row;
  display: flex;
  background: var(--neutral-white);
  color: var(--text);
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
}

.row > * {
  flex: 1 1 25%;
  min-width: 25ch;
  padding-top: 25px;
  padding-bottom: 25px;
}

.row .card.clients {
  padding-top: 20px;
  margin-top: 20px;
}

.row:first-child {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.row:last-child {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: var(--border-radius);
}

.row:last-child .card:nth-child(2),
.row:last-child .card:nth-child(3),
.row:last-child .card:last-child {
  margin-top: 63px;
}

.row:first-child .card-header > a > img {
  vertical-align: top;
}

.row .card-header.imdg > a > img {
  margin-right: 5px;
}

.row .card a {
  text-decoration: none;
  color: var(--text);
}

.row .card ul {
  padding: 0;
}

.row .card li {
  list-style: none;
  padding-bottom: 15px;
}

.row .card li:last-child {
  padding-bottom: 0;
}

.row .card li > a,
.row:last-child .card a,
.row .card.clients figure figcaption {
  color: var(--primary);
}

.row .card.clients figure.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-inline-start: 0;
  margin-right: 30px;
}

.row:nth-child(2) .card:first-child {
  flex-basis: 10%;
}

.row:nth-child(2) .card:nth-child(2) {
  flex-basis: 35%;
}

.row:nth-child(2) .card:nth-child(3) {
  flex-basis: 10%;
}

.row .card.clients figure.item img {
  height: 40px;
}

.row .card.clients .caption {
  display: block;
}

.get-started-home,
.row .card.clients figure figcaption {
  font-weight: 600;
}

.get-started-home a > img {
  vertical-align: middle;
}

@media (min-width: 1300px) {
  .row:last-child .card:nth-child(2),
  .row:last-child .card:nth-child(3),
  .row:last-child .card:last-child {
    padding-left: 40px;
  }
}

@media (min-width: 840px) and (max-width: 1295px) {
  .row > * {
    flex-basis: 50%;
  }

  .row:nth-child(2) .card:first-child {
    flex-basis: 50%;
  }

  .row:nth-child(2) .card:nth-child(2) {
    flex-basis: 50%;
  }

  .row:nth-child(2) .card:nth-child(3) {
    flex-basis: 50%;
  }
}

@media (min-width: 421px) {
  .home-background {
    height: 216px /* Height when the search bar is displayed 260px */;
  }
}
