.home {
  --cards-padding: 15px;
  --search-container-height: 36px;

  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.home .home-background {
  background-image: url('../img/home/hazelcast-banner-back.jpeg'), linear-gradient(160deg, #061827 33%, #1b2939 66%, #0686b3 100%);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0;
  background-size: cover;
  background-color: #061827;
  padding: 0 0 1.5rem;
}

@media (min-width: 1120px) {
  .home .home-background {
    background-position-y: -50px;
  }
}

@media (min-width: 1600px) {
  .home .home-background {
    background-position-y: -160px;
  }
}

.home .home-background-heading {
  color: #fff;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0;
  background: linear-gradient(270deg, var(--accent4), var(--accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .home-background-subheading {
  color: #fff;
  font-size: var(--body-font-size);
  font-family: var(--heading-font-family);
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

.home .search-buttons {
  width: 100%;
  min-height: var(--search-container-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.ai-button {
  color: var(--neutral-white);
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: var(--search-container-height);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: calc(var(--body-font-size) * 0.9);
  font-family: var(--heading-font-family);
}

.ai-button-img {
  stroke-width: 1.5;
}

.home .search-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.home .DocSearch-Button {
  width: 40%;
}

.home .article {
  padding: var(--cards-gap) var(--cards-gap) 0;
  background-color: #f2f5f9;
  text-align: left;
  display: flex;
  justify-content: center;
  gap: var(--cards-gap);
  flex-wrap: wrap;
}

.home .card,
.home .additional-card,
.feedback-footer {
  border-radius: 10px;
  background-color: #fff;
  padding: var(--cards-padding);
  flex-basis: 100%;
  border: 1px solid var(--neutral-light);
  box-sizing: border-box;
}

.home .additional-card .card-list {
  gap: 5px;
}

.home .card-list-item-description:last-child {
  margin-bottom: 0;
}

.home .card-header,
.feedback-footer .card-header {
  color: var(--doc-font-color);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.home .card-title,
.feedback-footer .card-title {
  font-weight: 600;
  margin: 0;
  font-size: 21px;
  text-align: center;
}

@media (min-width: 480px) {
  .home .card {
    flex-basis: calc(50% - calc(var(--cards-gap) * 1 / 2));
  }
}

@media (min-width: 550px) {
  .ai-button {
    position: absolute;
    right: 40px;
    top: 0;
  }
}

@media (min-width: 840px) {
  .home .card {
    flex-basis: calc(33% - calc(var(--cards-gap) * 2 / 3));
  }

  .home .additional-card {
    flex-basis: calc(50% - calc(var(--cards-gap) * 1 / 2));
  }
}

@media (min-width: 1400px) {
  .home .card {
    flex-basis: calc(25% - calc(var(--cards-gap) * 3 / 4));
  }
}

.home .card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex: 1 66%;
  padding: 0;
  margin: 10px 0 0;
}

.home .card-list-item {
  list-style: none;
  text-align: left;
  width: 100%;
}

.home .card-list-item a {
  color: var(--primary-light);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.home .card-img,
.feedback-footer .card-img {
  width: 24px;
  height: auto;
  stroke-width: 1;
}

.home .additional-cards {
  padding: var(--cards-gap);
  display: flex;
  gap: var(--cards-gap);
  flex-wrap: wrap;
}

.home .card-list-item-description {
  color: var(--secondary-text);
  margin: 0 0 0.5rem;
  text-align: left;
}

.feedback-footer {
  margin: 0 var(--cards-gap) var(--cards-gap);
  display: flex;
  padding: 15px 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 1120px) {
  .feedback-footer {
    gap: 30px;
  }
}

.feedback-footer .card-header {
  margin-bottom: 0;
}

.article .feedback-footer {
  margin: 0 var(--cards-gap) var(--cards-gap);
}

.home .feedback-button,
.home .helpful-feedback {
  margin-top: 0;
}
