.article-banner {
  align-items: center;
  background-color: var(--info);
  display: flex;
  line-height: 1.2;
  padding: 1rem 1.25rem;
  color: white;
}

.article-banner p {
  font-size: 1.125rem;
  margin: 0 1rem 0 0;
}

.article-banner a.btn {
  border: 1px solid var(--neutral);
  display: flex;
  text-align: center;
  padding: 0.875rem;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: white;
}

.article-banner a.btn:focus,
.article-banner a.btn:hover {
  background-color: var(--primary);
  color: white;
}

aside.toc.sidebar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .article {
    flex-grow: 2;
  }

  main {
    /* min-width: 0 required for flexbox to constrain overflowing elements */
    min-width: 0;
  }

  main > .content {
    display: flex;
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
    flex: 0 0 var(--toc-width);
    min-width: 200px;
  }
}

@media screen and (min-width: 1800px) {
  aside.toc.sidebar {
    min-width: 300px;
  }
}
