.article-banner {
  align-items: center;
  background-color: var(--info);
  display: flex;
  line-height: 1.2;
  padding: 1rem 1.25rem;
  color: white;
  height: 30px;
}

.new {
  border-radius: 10px;
  border: none;
  color: #041a3b;
  background-color: var(--success-light);
  font-size: 14px;
}

.new:hover {
  cursor: default;
}

.article-banner p {
  font-size: calc(14 / var(--rem-base) * 1rem);
  margin: 0 1rem 0 0;
}

.article-banner a.btn {
  border: 1px solid var(--neutral);
  display: flex;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: white;
  font-size: 0.7em;
}

.article-banner a.btn:focus,
.article-banner a.btn:hover {
  background-color: var(--primary);
  color: white;
}

aside.toc.sidebar {
  display: none;
}

main > .content {
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .article {
    flex-grow: 2;
  }

  main {
    /* min-width: 0 required for flexbox to constrain overflowing elements */
    min-width: 0;
  }

  main > .content {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: var(--border-radius);
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
    flex: 0 0 var(--toc-width);
    min-width: 200px;
  }
}

@media screen and (min-width: 1800px) {
  aside.toc.sidebar {
    min-width: 300px;
  }
}
