#userMap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

#userMap a:hover {
  text-decoration: none;
}

#userMap .box {
  padding: 10px;
  border: 1px solid var(--neutral-light);
  width: 100px;
  height: 80px;
  background-color: var(--info-light);
  hyphens: auto;
  font-size: 12px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}

#userMap .box:hover,
#userMap .active {
  background-color: var(--info-dark);
  color: white;
  font-weight: bold;
}

#userMap div.arrow {
  max-width: 50px;
  font-size: 20px;
  margin-left: 45px;
  margin-bottom: 15px;
}

#userMap div.content {
  max-width: 110px;
}

#userMap div.arrow,
#userMap div.content {
  text-align: left;
}

@media (min-width: 480px) {
  #userMap {
    flex-direction: row;
  }

  #userMap div.arrow {
    transform: rotate(-90deg);
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    position: relative;
  }

  #userMap div.arrow,
  #userMap div.content {
    text-align: center;
  }
}
