.nav-container {
  position: fixed;
  margin-top: 30px;
  left: 0;
  width: 100%;
  font-size: calc(14 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
  font-family: var(--nav-font-family);
  max-width: 400px;
  background-color: #fff;
}

.nav-container.is-active {
  visibility: visible;
}

.nav {
  background-color: #fff;
  position: relative;
  top: 0;
  height: var(--nav-height);
  overflow-y: scroll;
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
  margin-top: 30px;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  display: flex;
  flex-direction: column;
}

.nav-menu {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  padding-left: 0;
  line-height: var(--nav-line-height);
  position: relative;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-weight: var(--body-font-weight-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-menu a {
  color: inherit;
}

.nav-list {
  padding: 0 0 0 0.75rem;
}

.nav-item[data-depth="1"],
.nav-item[data-depth="2"],
.nav-item[data-depth="3"],
.nav-item[data-depth="4"]{
  text-indent: 0;
  line-height: 1.5;
  padding-top: 10px;
}

.nav-menu > .nav-list {
  padding: 0;
  margin-top: 0;
}

.nav-item[data-depth="0"] {
  text-indent: 15px;
  background: #fafafa;
  line-height: 2.7;
  border-bottom: 1px solid #dadada;
  color: var(--body-font-color);
}

.nav-item[data-depth="0"] > ul {
  background: #fff;
  padding-bottom: 10px;
}

.nav-item > .nav-text {
  cursor: pointer;
}

/* adds some breathing room below a nested list */
.nav-item-toggle ~ .nav-list {
  padding-bottom: 0.125rem;
}

.nav-item {
  list-style: none;
}

.nav-item.top ul {
  background: #fff;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-item-toggle {
  background: transparent url(../img/caret-blue.svg) no-repeat 40% / 37%;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: calc(var(--nav-line-height) * 1em);
  margin-top: 0.05em;
  margin-left: 5px;
  padding-right: 30px;
}

.nav-item[data-depth="0"] > .nav-item-toggle {
  margin-top: 10px;
}

.nav-item-toggle.nav-explore-toggle {
  background: transparent url(../img/pencil.svg) no-repeat center / 40%;
  right: 1.5px;
}

.nav-panel-explore .context .version {
  margin-right: 30px;
}

.nav-item.is-active > .nav-item-toggle,
.nav-panel-explore.is-active > .context > .nav-item-toggle {
  transform: rotate(-180deg);
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  color: var(--primary);
}

.nav-panel-explore {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: calc(14 / var(--rem-base) * 1rem);
  border-bottom: 1px solid var(--nav-background);
}

.nav-panel-explore .context {
  flex-shrink: 0;
  padding-right: 0.25rem;
  font-family: var(--body-font-family);
  color: var(--secondary-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  padding-left: 15px;
  align-items: center;
}

.nav-panel-explore .components {
  font-size: calc(14 / var(--rem-base) * 1rem);
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  text-indent: 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #fff;
  color: var(--secondary-text);
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .component {
  display: block;
}

.nav-panel-explore .component + .component {
  margin-top: 0.5rem;
}

.nav-panel-explore .component:last-child {
  margin-bottom: 0.75rem;
}

.nav-panel-explore .versions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: -0.25rem;
  line-height: 1;
}

.nav-panel-explore .component .version {
  display: block;
  margin: 0.375rem 0.375rem 0 0;
}

.nav-panel-explore .component .version.hidden {
  display: none;
  margin: 0.375rem 0.375rem 0 0;
}

.nav-panel-explore .component .more-versions {
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.nav-panel-explore .component .fewer-versions {
  display: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--nav-border-color);
  border-radius: 0.25rem;
  color: inherit;
  opacity: 0.75;
  white-space: nowrap;
  padding: 0.125em 0.25em;
  display: inherit;
}

.nav-panel-explore .component .is-current a {
  color: var(--primary);
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(16 / var(--rem-base) * 1rem);
    position: static;
    visibility: visible;
    flex: 1 0.5 25rem;
    margin-top: 0;
    padding-bottom: 60px;
  }

  .nav-panel-explore {
    font-size: 15px;
  }

  .nav {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
  }

  .nav-panel-menu {
    height: calc(100vh - 4rem);
  }

  .nav-item-toggle {
    right: 0;
  }
}

@media screen and (min-width: 1920px) {
  .nav-container {
    width: 20rem;
  }

  .nav-panel-explore .components {
    max-width: 400px;
  }
}
