.nav-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  font-size: calc(15.5 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
  font-family: var(--nav-font-family);
}

.nav-container.is-active {
  visibility: visible;
}

#separator {
  display: block;
  background-color: var(--nav-background);
  width: 3.5rem;
}

.nav {
  background-color: #fff;
  position: relative;
  top: 2rem;
  height: var(--nav-height);
  padding-left: 20px;
  padding-top: 40px;
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.nav-panel-menu:not(.is-active) .nav-menu {
  opacity: 0.75;
}

.nav-panel-menu:not(.is-active)::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-panel-menu,
.nav-panel-explore .components {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
  padding-right: 10px;
}

.nav-panel-menu::-webkit-scrollbar,
.nav-panel-explore .components::-webkit-scrollbar {
  width: 0.15rem;
}

.nav-panel-menu::-webkit-scrollbar-thumb,
.nav-panel-explore .components::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.nav-panel-menu::-webkit-scrollbar-track,
.nav-panel-explore .components::-webkit-scrollbar-track {
  background-color: var(--nav-background);
  height: 100%;
}

.nav-menu {
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  padding: 0.75rem;
  padding-left: 0;
  line-height: var(--nav-line-height);
  position: relative;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-weight: var(--body-font-weight-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-menu a {
  color: inherit;
}

.nav-list {
  margin: 0 0 0 0.75rem;
  padding: 0;
}

.nav-menu > .nav-list {
  margin-bottom: 0.5rem;
}

.nav-item {
  list-style: none;
  margin-top: 1em;
}

/* adds some breathing room below a nested list */
.nav-item-toggle ~ .nav-list {
  padding-bottom: 0.125rem;
}

.nav-item[data-depth="1"] {
  margin-top: 1.5em;
}

/* matches list without a title */
.nav-item[data-depth="0"] > .nav-list:first-child {
  display: block;
  margin: 0;
}

/* matches top level navigation */
.nav-item[data-depth="1"] > .nav-link {
  font-weight: var(--nav-font-weight);
}

/* matches top level navigation */
.nav-item[data-depth="2"] > .nav-link,
.nav-item[data-depth="3"] > .nav-link,
.nav-item[data-depth="4"] > .nav-link,
.nav-item[data-depth="5"] > .nav-link,
.nav-item[data-depth="2"] > .nav-text,
.nav-item[data-depth="3"] > .nav-text,
.nav-item[data-depth="4"] > .nav-text,
.nav-item[data-depth="5"] > .nav-text {
  font-family: var(--body-font-family);
  font-weight: 400;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-item-toggle {
  background: transparent url(../img/caret-blue.svg) no-repeat center / 40%;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: calc(var(--nav-line-height) * 1em);
  width: calc(var(--nav-line-height) * 1em);
  margin-top: 0.05em;
  margin-left: 5px;
  padding-right: 30px;
}

.nav-panel-explore .context .nav-item-toggle {
  right: 1.5px;
}

.nav-panel-explore .context .version {
  margin-right: 30px;
  font-size: small;
  max-width: 70px;
}

.nav-item.is-active > .nav-item-toggle,
.nav-panel-explore.is-active > .context > .nav-item-toggle {
  transform: rotate(-180deg);
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  font-weight: var(--body-font-weight-bold);
  color: var(--primary);
}

.nav-panel-explore {
  background: var(--nav-background);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  max-height: calc(50% + var(--drawer-height));
  padding-left: 5px;
}

.nav-panel-explore .context {
  font-size: calc(15 / var(--rem-base) * 1rem);
  flex-shrink: 0;
  color: var(--text);
  font-weight: var(--body-font-weight-bold);
  box-shadow: 0 -1px 0 var(--nav-panel-divider-color);
  padding-right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  line-height: 1;
  height: var(--drawer-height);
}

.nav-panel-explore .components {
  line-height: var(--doc-line-height);
  flex-grow: 1;
  box-shadow: inset 0 1px 5px var(--nav-panel-divider-color);
  background: var(--nav-secondary-background);
  padding: 0.5rem 0.75rem 0 0.75rem;
  margin: 0;
  overflow-y: scroll;
  max-height: 100%;
  display: block;
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .component {
  display: block;
}

.nav-panel-explore .component + .component {
  margin-top: 0.5rem;
}

.nav-panel-explore .component:last-child {
  margin-bottom: 0.75rem;
}

.nav-panel-explore .versions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: -0.25rem;
  line-height: 1;
}

.nav-panel-explore .component .version {
  display: block;
  margin: 0.375rem 0.375rem 0 0;
}

.nav-panel-explore .component .version.hidden {
  display: none;
  margin: 0.375rem 0.375rem 0 0;
}

.nav-panel-explore .component .more-versions {
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.nav-panel-explore .component .fewer-versions {
  display: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--nav-border-color);
  border-radius: 0.25rem;
  color: inherit;
  opacity: 0.75;
  white-space: nowrap;
  padding: 0.125em 0.25em;
  display: inherit;
}

.nav-panel-explore .component .is-current a {
  border-color: currentColor;
  opacity: 0.9;
  font-weight: var(--body-font-weight-bold);
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(16 / var(--rem-base) * 1rem);
    position: static;
    top: 0;
    visibility: visible;
    flex: 1 0.5 25rem;
    padding-bottom: 60px;
  }

  .nav {
    top: var(--navbar-height);
    box-shadow: none;
    position: sticky;
  }

  .nav-panel-menu {
    height: calc(100vh - 4rem);
    padding-right: 10px;
  }

  .nav-item-toggle {
    right: 0;
  }
}

@media screen and (min-width: 1920px) {
  .nav-container {
    width: 20rem;
  }

  .nav-panel-explore .context .title {
    padding-right: 50px;
  }
}
