.page-versions {
  position: relative;
  line-height: 1;
  width: 13em;
  font-size: calc(14 / var(--rem-base) * 1rem);
}

@media screen and (width >= 1024px) {
  .page-versions {
    display: block;
  }
}

.page-versions .version-menu-toggle {
  color: light-dark(var(--accent), var(--accent-dark));
  background: url("../img/chevron.svg") no-repeat right 0.5rem top 50%;
  background-size: auto 0.75em;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0.5rem 1.5rem 0.5rem 0;
  position: relative;
}

head:has(meta[content="dark"]) ~ body .page-versions .version-menu-toggle {
  background-image: url("../img/chevron-dark.svg");
}

.page-versions .version-menu {
  font-size: calc(14 / var(--rem-base) * 1rem);
  z-index: 1;
  background-color: light-dark(var(--neutral-white), var(--body-background-dark));
  position: absolute;
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
