#search-open {
  display: inline-block;
  padding-left: 8px;
  color: var(--primary);
  position: absolute;
  z-index: 1;
}

.navbar-item > span.algolia-autocomplete > input#search-input {
  display: block;
  text-indent: 30px;
  border: 1px solid #b7c1cb;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: large;
  padding: 0.5em;
  width: 200px;
}

.algolia-autocomplete .ds-dropdown-menu {
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
  box-shadow: none;
  margin-top: 0.75rem;
  max-width: none;
  width: 100%;
  min-width: 300px;
}

@media (min-width: 515px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 500px;
  }
}

@media (max-width: 1350px) {
  #search-open {
    top: 20px;
  }
}

@media (min-width: 1350px) {
  .filter.checkbox {
    background: var(--color-white) linear-gradient(to bottom, var(--navbar-button-border-color) 0%, var(--navbar-button-border-color) 100%) no-repeat left center / 1px 50%;
    border: 1px solid var(--navbar-button-border-color);
    border-left: none;
    border-radius: 0 0.1em 0.1em 0;
    color: var(--toolbar-font-color);
    cursor: pointer;
    font-size: 0.875em;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 30px;
  }

  .filter.checkbox input {
    margin: 0 0.25rem 0 0;
    cursor: inherit;
  }

  .navbar-item > span.algolia-autocomplete > input#search-input {
    width: 350px;
  }
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  position: absolute !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: 0;
  border-radius: 0;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  overflow: auto;
  height: 500px;
  margin: 0 -0.5rem;
  padding: 0.5rem;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: var(--primary-blue);
}

/* Styles for home page search bar

.search-container > span.algolia-autocomplete > input#search-input {
  border: 1px solid #b7c1cb;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  font-size: larger;
  padding: 0.5em;
  border-radius: 50px;
}

.search-container > span.algolia-autocomplete > input#search-input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .search-container > span.algolia-autocomplete,
  .search-container > span.algolia-autocomplete > input#search-input,
  .search-container > span.algolia-autocomplete .ds-dropdown-menu {
    min-width: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .search-container > span.algolia-autocomplete,
  .search-container > span.algolia-autocomplete > input#search-input.ds-input,
  .search-container > span.algolia-autocomplete .ds-dropdown-menu {
    width: 600px;
  }
}
*/
