.filter.checkbox {
  color: var(--toolbar-font-color);
  cursor: pointer;
  font-size: 0.875em;
  display: block;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #b7c1cb;
}

.DocSearch-Container {
  z-index: 10000 !important;
}

.DocSearch-Button {
  background: var(--neutral-lighter);
  border-radius: 5px;
  border: 1px solid var(--neutral-light);
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--primary);
}

@media (min-width: 1100px) {
  .navbar-item.searchbox {
    position: relative;
    top: 0;
    display: flex;
    align-self: center;
    margin-bottom: 0;
  }

  .filter.checkbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding-bottom: 0;
    border: none;
  }

  .filter.checkbox input {
    margin: 0 0.25rem 0 0;
  }
}
