.navbar-item.searchbox {
  margin-bottom: 40px;
  display: block;
  width: 250px;
  height: 40px !important;
}

#search-open {
  color: var(--primary);
}

.navbar-item > span.algolia-autocomplete > input#search-input {
  display: flex;
  font-family: inherit;
  font-size: large;
  border: none;
  height: inherit;
}

.algolia-autocomplete .ds-dropdown-menu {
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
  box-shadow: none;
  margin-top: 0.75rem;
  max-width: none;
  width: 100%;
  min-width: 300px;
}

.filter.checkbox {
  color: var(--toolbar-font-color);
  cursor: pointer;
  font-size: 0.875em;
  display: block;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #b7c1cb;
}

@media (min-width: 515px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 500px;
  }
}

@media (min-width: 1350px) {
  .navbar-item.searchbox {
    border: 1px solid #b7c1cb;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: flex;
    align-self: center;
    width: 350px;
    margin-bottom: 0;
  }

  .filter.checkbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding-bottom: 0;
    border: none;
  }

  .filter.checkbox input {
    margin: 0 0.25rem 0 0;
  }

  .navbar-item > span.algolia-autocomplete > input#search-input[type=text] {
    text-indent: 5px;
    margin-left: 8px;
    width: 150px;
  }
}

.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  position: absolute !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: 0;
  border-radius: 0;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  overflow: auto;
  height: 500px;
  margin: 0 -0.5rem;
  padding: 0.5rem;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: var(--primary-blue);
}

/* Styles for home page search bar

.search-container > span.algolia-autocomplete > input#search-input {
  border: 1px solid #b7c1cb;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  font-size: larger;
  padding: 0.5em;
  border-radius: 50px;
}

.search-container > span.algolia-autocomplete > input#search-input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .search-container > span.algolia-autocomplete,
  .search-container > span.algolia-autocomplete > input#search-input,
  .search-container > span.algolia-autocomplete .ds-dropdown-menu {
    min-width: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .search-container > span.algolia-autocomplete,
  .search-container > span.algolia-autocomplete > input#search-input.ds-input,
  .search-container > span.algolia-autocomplete .ds-dropdown-menu {
    width: 600px;
  }
}
*/
