.toc-menu {
  color: var(--toc-font-color);
  margin-bottom: 50px;
}

.toc.sidebar {
  display: none;
  margin-right: 0.75rem;
  position: sticky;
  top: var(--toc-top);
  align-self: flex-start;
  margin-left: 5em;
}

.toc .toc-menu ul {
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: var(--toc-height);
  overflow-y: auto;
  scrollbar-width: none;
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 1024px) {
  aside.toc.embedded {
    display: none;
  }

  .toc.sidebar {
    display: block;
    flex: 0 0 var(--toc-width);
    min-width: 200px;
    overflow-y: auto;
    height: 500px;
    overflow-x: hidden;
  }

  .toc .toc-menu ul {
    font-size: calc(13.5 / var(--rem-base) * 1rem);
  }
}

@media screen and (min-width: 1800px) {
  aside.toc.sidebar {
    min-width: 300px;
  }
}

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu li[data-level="2"] a {
  padding-left: 1.25rem;
}

.toc .toc-menu li[data-level="3"] a {
  padding-left: 2rem;
}

.toc .toc-menu a {
  color: inherit;
  border-left: 2px solid var(--toc-border-color);
  display: inline-block;
  padding: 10px 0 10px 8px;
  text-decoration: none;
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

.toc .toc-menu a:hover {
  color: var(--link-font-color);
}

.toc .toc-menu a.is-active {
  border-left-color: var(--accent);
  color: var(--accent);
}

.sidebar.toc .toc-menu a:focus {
  background: var(--panel-background);
}

.toc .toc-menu .is-hidden-toc {
  display: none !important;
}
