.tutorial .toc.sidebar {
  margin-left: 4em;
}

.tutorial .toc.sidebar .source {
  width: 100%;
}

.tutorial .git {
  background: transparent url("../img/github.svg") 0 / contain no-repeat;
  margin-top: 20px;
  color: #2d7de4;
}
