<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Hazelcast'}}
</head>
<body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body-category-landing}}
{{> feedback-footer }}
{{> footer}}
</body>
</html>
