<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Hazelcast'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{#with site.keys.googleAnalytics}}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{/with}}
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
