<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-prelude}}
    <title>Developer Guides</title>
    {{#with page.canonicalUrl}}
    <link rel="canonical" href="{{this}}">
    {{/with}}
{{> head-styles}}
{{> head-meta}}
{{> head-scripts}}
<script>
  function toggleDropdown() {
  document.getElementById("use-cases").classList.toggle("show");
  }
  function showAll() {
    var guideCards = document.getElementsByClassName("dev-card");
    for (let i = 0; i < guideCards.length; i++) {
      guideCards[i].style.display = 'flex';
    }
  }

  function filterUseCases(event) {
    var guideCards = document.getElementsByClassName("dev-card");
    var selection = event.target.getAttribute("value");
    for (let i = 0; i < guideCards.length; i++) {
      if (guideCards[i].getAttribute("data-use-case").toUpperCase() === selection.toUpperCase()) {
        console.log(selection)
        guideCards[i].style.display = 'flex';
      } else {
        guideCards[i].style.display = 'none';
      }
    }
  }
</script>
{{> head-icons}}
  </head>
  <body>
  {{#with site.keys.googleAnalytics}}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{/with}}
{{> header}}
{{> body-guides-home}}
{{> footer}}
  </body>
</html>