<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-prelude}}
    <title>Hazelcast Documentation</title>
    {{#with page.canonicalUrl}}
    <link rel="canonical" href="{{this}}">
    {{/with}}
{{> head-styles}}
{{> head-meta}}
{{> head-scripts}}
{{> head-icons}}
  </head>
  <body>
{{> header-home}}
{{> body-home}}
{{> footer}}
  </body>
</html>