<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-prelude}}
    <title>Hazelcast Documentation</title>
    {{#with page.canonicalUrl}}
    <link rel="canonical" href="{{this}}">
    {{/with}}
{{> head-styles}}
{{> head-meta}}
{{> head-scripts}}
<script src="https://katacoda.com/embed.js"></script>
{{> head-icons}}
  </head>
  <body>
  {{#with site.keys.googleAnalytics}}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{/with}}
{{> header}}
{{#with page.attributes.scenario}}
<div data-katacoda-id="hazelcast-code/{{this}}"
  id="katacoda-scenario-1"
  style="height:100%;">
</div>
{{/with}}
{{> footer}}
  </body>
</html>