<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='API Reference'}}
  </head>
  <body class="swagger">
    {{> header}}
    {{{page.contents}}}
    {{> footer}}
  </body>
</html>
