<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='API Reference'}}
  </head>
  <body class="swagger">
    {{> header}}
    <div>
      <div>
        <redoc
          spec-url="/swagger/api-docs.yaml"
          scroll-y-offset="60"
          theme='{
         "spacing": {
           "sectionVertical": "20"
         },
         "typography": {
           "fontFamily": "Open Sans",
           "headings": {
             "fontFamily": "PP Telegraf"
           },
           "code": {
             "fontFamily": "Roboto Mono"
           }
         },
         "rightPanel": {
           "backgroundColor": "#191d29"
         }
       }'
        ></redoc>
      </div>
    </div>
    <script src="https://cdn.redoc.ly/redoc/v2.1.4/bundles/redoc.standalone.js"></script>
    {{> footer}}
  </body>
</html>
