# This workflow makes sure that the UI builds without errors

name: Validate the build process

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 20
    - name: Bundle UI
      run: |
        npm i
        gulp bundle